.teaching {
  h2,
  h3,
  h4 {
    margin: 5px 5px;
    margin-bottom: 19px;
    display: block;
    position: relative;
  }
  hr {
    margin-bottom: 19px;
    border: 0 $grey-color-light solid;
    border-top-width: 1.5px;
    clear: both;
    height: 0;
  }
  dt {
    float: left;
    width: 20%;
    padding: 0px 5px;
    margin-left: -19px;
    margin-right: 0px;
    clear: both;
    position: relative;
    text-align: right;
  }
  dt img {
    width: 100%;
    font-size: 1em;
    float: none;
    margin-bottom: 0.3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.3em;
    /*border: 1px solid #0787E3;*/
    box-shadow: 0 0 7px 0px #aaa;
    border-radius: 8px;
    border: 3px solid $white-color;
  }
  dd {
    float: right;
    width: 75%;
    margin-bottom: 5px;
  }

  ul {
    list-style: none;
    margin-left: 10px;
  }

  li {
    border-left: 1px solid $grey-color-light;
    padding-left: 19px;
    border-radius: 3px;
    margin-bottom: 19px;
    // width: 580px;
    // margin-left: 100px;
  }
}
